<div class="w-full h-fit">
  <div class="wrapper">
    <div class="avatar">
      <img src="/assets/images/profile.jpg" alt="" />
      <div class="gender_icon gender_icon">
        <span class="material-symbols-rounded">female</span>
      </div>
      <div class="user_info">
        <h2 class="name">Lorem Ipsum</h2>
        <h4 class="about">Teacher</h4>
        <h4 class="username">loremipsum</h4>
      </div>
    </div>
    <button class="icon_btn top-2 right-4">
      <span class="material-symbols-rounded text-2xl"> edit </span>
    </button>
  </div>
  <div class="info">
    <div class="field_wrapper">
      <h4 class="field_name">Email</h4>
      <h5 class="field_value">{{ "lorem@ipsum.com" }}</h5>
    </div>
    <div class="field_wrapper">
      <h4 class="field_name">Address</h4>
      <h5 class="field_value">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, commodi.</h5>
    </div>
    <div class="field_wrapper">
      <h4 class="field_name">Contact</h4>
      <h5 class="field_value">+1 1234567890</h5>
    </div>
    <div class="field_wrapper">
      <h4 class="field_name">Date Of Birth</h4>
      <h5 class="field_value">12-10-1994</h5>
    </div>
    <div class="field_wrapper">
      <h4 class="field_name">Date Of Joining</h4>
      <h5 class="field_value">10-05-2001</h5>
    </div>
  </div>
</div>
