.avatar{
    @apply w-32 h-32 rounded-full overflow-clip;
}
.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.details{
    @apply px-3;
}
.detail{
    @apply flex items-center gap-x-5 my-1;
}