nav {
  @apply bg-slate-50;
}
.nav_link {
  @apply relative flex flex-col justify-center items-center p-2 w-10 h-10 rounded-[50%] hover:bg-sky-600 hover:bg-opacity-15 hover:text-sky-600 transition-colors duration-200;
}
.nav_link.active {
  @apply bg-sky-600 bg-opacity-15 text-sky-600;
}
.nav_link span.label {
  @apply absolute text-xs bg-sky-600 bg-opacity-15 text-sky-600 px-2 py-1 rounded-md uppercase;
  top: 0px;
  opacity: 0;
  visibility: hidden;
  transition-property: visibility, opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transform: translateY(-2rem);
}
.nav_link:hover span.label {
  opacity: 1;
  visibility: visible;
}
