<nav class="w-fit h-fit fixed left-1/2 bottom-8 -translate-x-1/2 border border-sky-500 z-[1] flex items-center p-1 gap-5 rounded-full">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav_link">
    <span class="material-symbols-rounded text-3xl"> home </span>
    <span class="label">home</span></a
  >
  @for (route of routes; track $index) { @if (route.isGuarded && isAuthenticated) {
  <a [routerLink]="route.url" routerLinkActive="active" class="nav_link">
    <span class="material-symbols-rounded text-2xl"> {{ route.icon }} </span>
    <span class="label">{{ route.name }}</span></a
  >
  }@if(!route.isGuarded) {
  <a [routerLink]="route.url" routerLinkActive="active" class="nav_link">
    <span class="material-symbols-rounded text-2xl"> {{ route.icon }} </span>
    <span class="label">{{ route.name }}</span></a
  >
  } }
  <button class="nav_link" (click)="onLogout()">
    <span class="material-symbols-rounded text-3xl"> logout </span>
    <span class="label">logout</span>
  </button>
</nav>
