<section class="w-full p-2">
  <div class="w-full h-fit rounded-md p-2 bg-slate-500 bg-opacity-5">
    <h1 class="hero_text emoji_end" style="--emoji: '\1F44B'">Hello, <span class="name">Lorem Ipsum</span></h1>
    <h4 class="mt-4 text-lg text-slate-600 flex items-center emoji_end" style="--emoji: '\1F4AF'">Here's your summary</h4>
    <ul class="stat_items">
      <li class="stat_item">
        <span class="value">30</span>
        <span class="label"> Courses </span>
      </li>
      <li class="stat_item">
        <span class="value">5</span>
        <span class="label"> Classes </span>
      </li>
    </ul>
  </div>
</section>
