<section class="p-3">
  <div class="bg-orange-100 rounded-xl px-4 py-5 grid grid-cols-1 md:grid-cols-4">
    <div class="profile_wrapper col-span-1">
      <div class="relative w-fit h-fit self-center">
        <span class="absolute top-0 right-0 material-symbols-rounded text-3xl bg-emerald-400 text-slate-50 rounded-full"> bolt </span>
        <img src="assets/images/profile.jpg" class="w-24 md:w-32 aspect-square rounded-full object-cover m-auto" alt="" />
      </div>
      <h2 class="font-medium text-2xl mt-2 text-center text-slate-900">{{ name ?? "Lorem Ipsum Dolor"}}</h2>
      <h4 class="font-medium text-base text-center text-slate-600">Class 2</h4>
    </div>
    <div class="px-3 py-1 col-span-2">
      <h4 class="info_container allow_copy">
        <span class="text-base text-slate-800 font-semibold">Unique ID</span>
        <span class="text-base text-slate-700">1f43c4a7-e222-4077-8a37-e060ca972f19</span>
        <button class="action_btn">
          <span class="material-symbols-rounded"> content_copy </span>
        </button>
      </h4>
      <h4 class="info_container mt-4 allow_copy">
        <span class="text-base text-slate-800 font-semibold">Date of Birth</span>
        <span class="text-base text-slate-700">21-Jan-2001</span>
        <button class="action_btn">
          <span class="material-symbols-rounded"> content_copy </span>
        </button>
      </h4>
      <h4 class="info_container mt-4 allow_copy">
        <span class="text-base text-slate-800 font-semibold">Address</span>
        <span class="text-base text-slate-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos </span>
        <button class="action_btn">
          <span class="material-symbols-rounded"> content_copy </span>
        </button>
      </h4>
    </div>
    <div class="px-3 py-1 col-span-1">
      <h4 class="info_container allow_copy">
        <span class="text-base text-slate-800 font-semibold">Contact</span>
        <span class="text-base text-slate-700">1234567890</span>
        <button class="action_btn">
          <span class="material-symbols-rounded"> content_copy </span>
        </button>
      </h4>
      <h4 class="info_container mt-4 allow_copy">
        <span class="text-base text-slate-800 font-semibold">Gender</span>
        <span class="text-base text-slate-700">Female</span>
        <button class="action_btn">
          <span class="material-symbols-rounded"> content_copy </span>
        </button>
      </h4>
    </div>
    <div class="col-span-full h-4 divide-h my-5" style="--width: 90%"></div>
    <div class="col-span-2 px-3 py-1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum magni repudiandae numquam voluptatibus pariatur veritatis laboriosam ea aliquam, deserunt adipisci aut aliquid sed tempore commodi,
      dolor saepe alias distinctio non necessitatibus, et neque quaerat eos? Aut totam accusamus iure incidunt?
    </div>
    <div class="col-span-2 px-3 py-1">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum magni repudiandae numquam voluptatibus pariatur veritatis laboriosam ea aliquam, deserunt adipisci aut aliquid sed tempore commodi,
      dolor saepe alias distinctio non necessitatibus, et neque quaerat eos? Aut totam accusamus iure incidunt?
    </div>
  </div>
</section>
